Repository haris2055/SOEN390, pull requests merged in 2023-03, with the labels that each got.

#160 User Connections Feature
  backend/.coverage
  backend/backend/__pycache__/settings.cpython-311.pyc
  backend/backend/__pycache__/urls.cpython-311.pyc
  backend/backend/urls.py
  backend/db.sqlite3
  backend/workshare/__pycache__/admin.cpython-311.pyc
  backend/workshare/__pycache__/apps.cpython-311.pyc
  backend/workshare/__pycache__/models.cpython-311.pyc
  backend/workshare/__pycache__/serializers.cpython-311.pyc
  backend/workshare/__pycache__/signals.cpython-311.pyc
  backend/workshare/__pycache__/tests.cpython-311.pyc
  backend/workshare/__pycache__/tokens.cpython-311.pyc
  backend/workshare/__pycache__/views.cpython-311.pyc
  backend/workshare/admin.py
  backend/workshare/migrations/0013_connection.py
  backend/workshare/migrations/0013_recommendations.py
  backend/workshare/migrations/0014_rename_receipent_recommendations_recipient_and_more.py
  backend/workshare/migrations/0014_rename_user2_connection_recipient_and_more.py
  backend/workshare/migrations/0015_merge_20230311_1438.py
  backend/workshare/migrations/0016_alter_connection_status.py
  backend/workshare/migrations/__pycache__/0004_profile_education_profile_email.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0004_profile_user.cpython-39.pyc
  backend/workshare/migrations/__pycache__/0005_profile_city.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0006_remove_profile_id_profile_user_alter_profile_image.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0007_alter_profile_user.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0008_alter_profile_image.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0009_alter_profile_image.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0010_alter_profile_image.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0011_profile_awards_profile_courses_profile_languages_and_more.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0012_joblisting.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0013_connection.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0013_recommendations.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0014_rename_receipent_recommendations_recipient_and_more.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0014_rename_user2_connection_recipient_and_more.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0015_merge_20230311_1438.cpython-311.pyc
  backend/workshare/models.py
  backend/workshare/serializers.py
  backend/workshare/tests.py
  backend/workshare/views.py
  frontend/src/App.js
  frontend/src/Assets/css/App.css
  frontend/src/actions/recommendAction.js
  frontend/src/components/ConnectionCard.js
  frontend/src/components/EditProfileForm.js
  frontend/src/components/Header.js
  frontend/src/components/Jobs.js
  frontend/src/components/Newsfeed.js
  frontend/src/components/Posts-old.js
  frontend/src/components/Posts-old_copy.js
  frontend/src/components/ProfileCard.js
  frontend/src/constants/recommendConstants.js
  frontend/src/screens/CreatePost.js
  frontend/src/screens/MyNetwork.js
  frontend/src/screens/ProfileScreen.js
  frontend/src/screens/SearchScreen.js
  frontend/src/screens/ViewProfile.js
  frontend/src/store.js
Labels: Connections

#164 Recommendation View on user profile
  frontend/src/screens/ProfileScreen.js
  frontend/src/screens/ViewProfile.js
Labels: User Profile

#168 fix: User appears in their own "People you may know" section #167
  backend/workshare/views.py
Labels: fix

#155 Search for users and bug fixing
  backend/workshare/views.py
  frontend/src/actions/jobActions.js
  frontend/src/components/CreateJobForm.js
  frontend/src/components/EditJobForm.js
  frontend/src/screens/CreateJob.js
Labels: bug, Job Posts

#169 Password Reset Email & Change Password Features
  backend/backend/urls.py
  backend/workshare/templates/reset_password_template.html
  backend/workshare/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Assets/css/App.css
  frontend/src/Assets/css/Login.css
  frontend/src/Assets/css/Settings.css
  frontend/src/actions/userActions.js
  frontend/src/constants/userConstants.js
  frontend/src/reducers/userReducers.js
  frontend/src/screens/ForgotPassword.js
  frontend/src/screens/LoginPage.js
  frontend/src/screens/PasswordReset.js
  frontend/src/screens/RegisterPage.js
  frontend/src/screens/Settings.js
  node_modules/.package-lock.json
  node_modules/react-bootstrap/cjs/Modal.js
  node_modules/react-bootstrap/cjs/Popover.js
  node_modules/react-bootstrap/cjs/Tooltip.js
  node_modules/react-bootstrap/dist/react-bootstrap.js
  node_modules/react-bootstrap/dist/react-bootstrap.min.js
  node_modules/react-bootstrap/esm/Modal.js
  node_modules/react-bootstrap/esm/Popover.js
  node_modules/react-bootstrap/esm/Tooltip.js
  node_modules/react-bootstrap/package.json
  package-lock.json
  package.json
Labels: User Account Management
