Repository haris2055/SOEN390, pull requests merged in 2023-04, with the labels that each got.

#172 Job Post Features
  backend/backend/urls.py
  backend/workshare/admin.py
  backend/workshare/migrations/0017_document_joblisting_required_docs.py
  backend/workshare/migrations/0018_joblisting_deadline.py
  backend/workshare/migrations/0019_joblisting_link_joblisting_listing_type_and_more.py
  backend/workshare/migrations/0020_joblisting_employment_term_joblisting_salary_type_and_more.py
  backend/workshare/models.py
  backend/workshare/serializers.py
  backend/workshare/views.py
  frontend/src/App.js
  frontend/src/Assets/css/App.css
  frontend/src/actions/jobActions.js
  frontend/src/components/CreateJobForm.js
  frontend/src/components/EditJobForm.js
  frontend/src/components/Job.js
  frontend/src/components/Jobs.js
  frontend/src/constants/jobConstants.js
  frontend/src/screens/CreateJob.js
  frontend/src/screens/JobScreen.js
  frontend/src/screens/JobsScreen.js
Labels: Job Posts

#174 Fix: after registration, profile name is saved as email address
  backend/workshare/signals.py
Labels: User Account Management, User Profile, fix

#179 Personalized search
  backend/backend/__pycache__/urls.cpython-311.pyc
  backend/backend/urls.py
  backend/db.sqlite3
  backend/workshare/__pycache__/admin.cpython-311.pyc
  backend/workshare/__pycache__/models.cpython-311.pyc
  backend/workshare/__pycache__/serializers.cpython-311.pyc
  backend/workshare/__pycache__/signals.cpython-311.pyc
  backend/workshare/__pycache__/views.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0013_connection.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0013_recommendations.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0014_rename_receipent_recommendations_recipient_and_more.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0014_rename_user2_connection_recipient_and_more.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0015_merge_20230311_1438.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0016_alter_connection_status.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0017_document_joblisting_required_docs.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0018_joblisting_deadline.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0019_joblisting_link_joblisting_listing_type_and_more.cpython-311.pyc
  backend/workshare/migrations/__pycache__/0020_joblisting_employment_term_joblisting_salary_type_and_more.cpython-311.pyc
  backend/workshare/tests.py
  backend/workshare/views.py
  frontend/src/App.js
  frontend/src/components/JobCard.js
  frontend/src/components/ProfileCard.js
  frontend/src/screens/SearchScreen.js
Labels: deliverable, User Profile, Job Search

#177 [US-32] Connections Newsfeed
  backend/backend/urls.py
  backend/workshare/serializers.py
  backend/workshare/views.py
  frontend/src/components/Newsfeed.js
  frontend/src/screens/Home.js
  frontend/src/screens/MyNetwork.js
Labels: Connections

#181 Notifications Features
  backend/backend/urls.py
  backend/workshare/admin.py
  backend/workshare/migrations/0021_notification_jobalert_and_more.py
  backend/workshare/models.py
  backend/workshare/serializers.py
  backend/workshare/signals.py
  backend/workshare/views.py
  frontend/src/App.js
  frontend/src/Assets/css/Header.css
  frontend/src/Assets/css/Notifications.css
  frontend/src/Assets/css/Settings.css
  frontend/src/actions/jobActions.js
  frontend/src/actions/notificationActions.js
  frontend/src/actions/userActions.js
  frontend/src/components/Header.js
  frontend/src/components/Job.js
  frontend/src/components/JobAlerts.js
  frontend/src/constants/jobConstants.js
  frontend/src/constants/notificationConstants.js
  frontend/src/reducers/jobReducers.js
  frontend/src/reducers/notificationReducers.js
  frontend/src/screens/Home.js
  frontend/src/screens/Notification.js
  frontend/src/screens/Notifications.js
  frontend/src/screens/SearchScreen.js
  frontend/src/screens/Settings.js
  frontend/src/screens/ViewProfile.js
  frontend/src/store.js
Labels: Notification System

#182 [EPIC 10] Admin features
  backend/backend/urls.py
  backend/workshare/admin.py
  backend/workshare/migrations/0022_post_reported_userreport_postreport.py
  backend/workshare/migrations/0023_jobreport.py
  backend/workshare/models.py
  backend/workshare/serializers.py
  backend/workshare/tests.py
  backend/workshare/views.py
  frontend/src/App.js
  frontend/src/actions/userActions.js
  frontend/src/components/AdminJobCard.js
  frontend/src/components/AdminPostCard.js
  frontend/src/components/AdminUserCard.js
  frontend/src/components/Header.js
  frontend/src/components/Job.js
  frontend/src/components/Jobs.js
  frontend/src/components/Newsfeed.js
  frontend/src/components/ReportJobForm.js
  frontend/src/components/ReportPostForm.js
  frontend/src/constants/userConstants.js
  frontend/src/reducers/userReducers.js
  frontend/src/screens/AdminJobScreen.js
  frontend/src/screens/AdminPostScreen.js
  frontend/src/screens/AdminUserScreen.js
  frontend/src/screens/Home.js
  frontend/src/screens/JobScreen.js
  frontend/src/screens/JobsScreen.js
  frontend/src/screens/MyNetwork.js
  frontend/src/screens/ProfileScreen.js
  frontend/src/store.js
Labels: Admin

#195 Update to include the most recent References used
  README.md
Labels: documentation
